<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thegodisgad.tag.mapper.BlogTagMapper">

    <resultMap id="BaseResultMap" type="top.thegodisgad.tag.entity.BlogTag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="isValid" column="is_valid" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,
        blog_id,tag_id,is_valid
    </sql>
    <insert id="insert" parameterType="top.thegodisgad.tag.entity.BlogTag">
        insert into tb_blog_tag(blog_id,tag_id) values(#{userId},#{tagId})
    </insert>
    <select id="selectByBlogId" resultType="top.thegodisgad.tag.entity.BlogTag">
        select <include refid="Base_Column_List"/>
        from tb_blog_tag
        where blog_id=#{blogId} and is_valid=1
    </select>
    <select id="selectByTagId" resultType="top.thegodisgad.tag.entity.BlogTag">
        select <include refid="Base_Column_List"/>
        from tb_blog_tag
        where tag_id=#{tagId} and is_valid=1
    </select>
    <update id="delete">
        update tb_blog_tag
        set is_valid=0
        where blog_id=#{blogId} and tag_id=#{tagId}
    </update>
</mapper>
