<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thegodisgad.school.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="top.thegodisgad.school.entity.Student">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="studentId" column="student_id" jdbcType="BIGINT"/>
        <result property="schoolId" column="school_id" jdbcType="BIGINT"/>
        <result property="academyId" column="academy_id" jdbcType="BIGINT"/>
        <result property="professionalId" column="professional_id" jdbcType="BIGINT"/>
        <result property="grade" column="grade" jdbcType="OTHER"/>
        <result property="period" column="period" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,
        user_id,student_id,school_id,academy_id,
        professional_id,grade,period
    </sql>
    <insert id="insert">
        insert into tb_student(user_id, student_id, school_id, academy_id,
                               professional_id, grade, period)
        values (#{userId}, #{studentId}, #{schoolId}, #{academyId},
                #{professionalId}, #{grade}, #{period})
    </insert>
    <delete id="delete">
        delete
        from tb_student
        <where>
            user_id=#{userId}
            <if test="schoolId !=null">and school_id=#{schoolId}</if>
            <if test="academyId !=null">and academy_id=#{academyId}</if>
            <if test="professionalId !=null">and professional_id=#{professionalId}</if>
        </where>
    </delete>
    <select id="findAllByUserId" resultType="top.thegodisgad.school.entity.Student">
        select
        <include refid="Base_Column_List"/>
        from tb_student
        where user_id=#{userId}
    </select>
    <select id="findAllBy" resultType="top.thegodisgad.school.entity.Student">
        select
        <include refid="Base_Column_List"/>
        from tb_student
        <where>
            <if test="userId !=null">and user_id=#{userId}</if>
            <if test="schoolId !=null">and school_id=#{schoolId}</if>
            <if test="academyId !=null">and academy_id=#{academyId}</if>
            <if test="professionalId !=null">and professional_id=#{professionalId}</if>
        </where>
    </select>
    <select id="findAllBySchoolId" resultType="top.thegodisgad.school.entity.Student">
        select
        <include refid="Base_Column_List"/>
        from tb_student
        where school_id=#{schoolId}
    </select>
    <select id="findByStudentIdStudent" resultType="top.thegodisgad.school.entity.Student">
        select
        <include refid="Base_Column_List"/>
        from tb_student
        where student_id=#{studentId}
    </select>

</mapper>
